
<div class="modal" id="positionTemplateEditModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" data-bind="with: PositionTemplateEditModal">
		<div class="modal-content" data-bind="if: CurrentItem">
			<div class="modal-header">
				<button type="button" class="close" data-bind="click: Close"><span>&times;</span></button>			
				<h4 class="modal-title">Шаблон должности</h4>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="row form-group">
						<div class="col-md-4">Должность</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().Position"></div>
					</div>
					<div class="row form-group">
						<div class="col-md-4">Основание</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().Basis"></div>
					</div>
					<div class="row form-group">
						<div class="col-md-4">Должность рп</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().GenitivePosition"></div>
					</div>
					<div class="row form-group">
						<div class="col-md-4">Должность англ</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().EnPosition"></div>
					</div>
					<div class="row form-group">
						<div class="col-md-4">Основание англ</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().EnBasis"></div>
					</div>
					<div class="row form-group">
						<div class="col-md-4">Отдел</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().Department"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bind="click: Done">Готово</button>
			</div>
		</div>
	</div>
</div>
