@model IEnumerable<Logisto.Models.CurrencyRateUse>
@{
	ViewBag.Title = "Применяемые курсы валют";
}

@section Styles{
}

@section Scripts {
	<script type="text/javascript">
		var modelData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

		var app = app || {};
		app.urls = app.urls || {};
		app.urls.GetNewCurrencyRateUse = "@Url.Action("GetNewCurrencyRateUse", "Data")";
		app.urls.SaveCurrencyRateUse = "@Url.Action("SaveCurrencyRateUse", "Data")";
	</script>

	<script src="~/Scripts/Data/CurrencyRateUses.js"></script>
}

<div>
	<div class="row">
		<div class="col-md-5"><h2>Применяемые курсы валют</h2></div>
		<div class="col-md-5"></div>
		<div class="col-md-2"><button class="btn btn-a" style="margin-top: 22px;" data-bind="click: OpenCurrencyRateUseCreate">+новый</button></div>
	</div>
	<hr />

	<table class="table table-condensed">
		<thead>
			<tr>
				<th class="col-md-2">Наименование</th>
				<th class="col-md-2">Значение</th>
				<th class="col-md-2">На день документа</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
			<!-- ko foreach: Items -->
			<tr>
				<td data-bind="text: Display"></td>
				<td data-bind="text: Value"></td>
				<td data-bind="text: IsDocumentDate()?'да':''"></td>
				<td><a class="btn btn-default btn-xs" data-bind="click: $parent.OpenCurrencyRateUseEdit"><span class="glyphicon glyphicon-pencil"></span></a></td>
			</tr>
			<!-- /ko -->
		</tbody>
	</table>
</div>


@Html.Partial("_CurrencyRateUseEditModal")