
<div class="modal" id="roleEditModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" data-bind="with: RoleEditModal">
		<div class="modal-content" data-bind="if: CurrentItem">
			<div class="modal-header">
				<button type="button" class="close" data-bind="click: Close"><span>&times;</span></button>
				<!-- ko if: CurrentItem().Id() > 0 -->
				<h4 class="modal-title">Роль <span class="text-ghost">#<span data-bind="text: CurrentItem().Id"></span></span></h4>
				<!-- /ko -->
				<!-- ko ifnot: CurrentItem().Id() > 0 -->
				<h4 class="modal-title">Новая роль</h4>
				<!-- /ko -->
			</div>
			<div class="modal-body">
				<div class="form-horizontal">

					<div class="row form-group">
						<div class="col-md-4 text-right form-text">Наименование</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().Name"></div>
					</div>

					<div class="row form-group">
						<div class="col-md-4 text-right form-text">Описание</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().Description"></div>
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bind="click: Done">Готово</button>
			</div>
		</div>
	</div>
</div>
