
<div class="modal" id="ourLegalEditModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" data-bind="with: OurLegalEditModal">
		<div class="modal-content" data-bind="if: CurrentItem">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<!-- ko if: CurrentItem().ID() > 0 -->
				<h4 class="modal-title">Наше юрлицо <span class="text-ghost">#<span data-bind="text: CurrentItem().ID"></span></span></h4>
				<!-- /ko -->
				<!-- ko ifnot: CurrentItem().ID() > 0 -->
				<h4 class="modal-title">Новое юрлицо</h4>
				<!-- /ko -->
			</div>
			<div class="modal-body">
				<div class="form-horizontal">


					<div class="row form-group">
						<div class="col-md-4">Название</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().Name"></div>
					</div>

					<div class="row form-group">
						<div class="col-md-4">Юрлицо</div>
						<div class="col-md-8">
							<select class="form-control" data-bind="options: $parent.Dictionaries.Legal, optionsText: 'Display', optionsValue: 'ID', value: CurrentItem().LegalId"></select>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-4"></div>
						<div class="col-md-8">
							<form enctype="multipart/form-data" method="post">
								<input id="fileUpload" type="file" style="width:200px; display:inline-block;" />
								<button id="upload" type="button" class="btn btn-default">Загрузить файл</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-bind="click: Download">Скачать файл</button>
				<button type="button" class="btn btn-primary" data-bind="click: Done">Готово</button>
			</div>
		</div>
	</div>
</div>
