
<div class="modal" id="placeEditModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" data-bind="with: PlaceEditModal">
		<div class="modal-content" data-bind="if: CurrentItem">
			<div class="modal-header">
				<button type="button" class="close" data-bind="click: Close"><span>&times;</span></button>
				<!-- ko if: CurrentItem().ID() > 0 -->
				<h4 class="modal-title">Место <span class="text-ghost">#<span data-bind="text: CurrentItem().ID"></span></span></h4>
				<!-- /ko -->
				<!-- ko ifnot: CurrentItem().ID() > 0 -->
				<h4 class="modal-title">Новое место</h4>
				<!-- /ko -->
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="row form-group">
						<div class="col-md-4">Наименование</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().Name"></div>
					</div>

					<div class="row form-group">
						<div class="col-md-4">Наименование (en)</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().EnName"></div>
					</div>

					<div class="row form-group">
						<div class="col-md-4">Код IATA</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().IataCode"></div>
					</div>

					<div class="row form-group">
						<div class="col-md-4">Код ICAO</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().IcaoCode"></div>
					</div>

					<div class="row form-group">
						<div class="col-md-4">Аэропорт</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().Airport"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bind="click: Done">Готово</button>
			</div>
		</div>
	</div>
</div>
