@model IEnumerable<object>
@{
	ViewBag.Title = "Очередь синхронизации";
}

@section Styles{
}

@section Scripts {
	<script type="text/javascript">
		var modelData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
		var app = app || {};
		app.urls = app.urls || {};
		app.urls.DeleteItem = "@Url.Action("DeleteSyncItem", "Sync")";
		
	</script>

	<script src="~/Scripts/Data/SyncQueue.js"></script>
}

<div>
	<div class="row">
		<div class="col-md-5"><h2>Очередь синхронизации</h2></div>
	</div>

	<table class="table table-condensed">
		<thead>
			<tr>
				<th class="col-md-2">Номер дохода</th>
				<th class="col-md-9">Ошибка</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
			<!-- ko foreach: Items -->
			<tr>
				<td data-bind="text: AccountingNumber"></td>
				<td data-bind="text: Error"></td>
				<td data-bind="click: $parent.Delete"><span class="close">&times;</span></td>
			</tr>
			<!-- /ko -->
		</tbody>
	</table>
</div>