<?xml version="1.0" encoding="utf-8"?>
<!--
Важная информация по настройке MVC 5
https://devio.wordpress.com/2014/12/05/deploying-asp-net-mvc-5-on-windows-server-2008/
-->
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=srvSql01;Initial Catalog=dbNVLC;User ID=WebUser;Password=WebUser;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="App_PageSize" value="25" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
    <globalization culture="en-US" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <!--<dependentAssembly>
				<assemblyIdentity name="Gnostice.Core" publicKeyToken="fc8cb3ab6a24df63" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-16.6.0.0" newVersion="16.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Gnostice.XtremeFontEngine.4.0" publicKeyToken="461de9da64be3a84" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.1863.418" newVersion="1.0.1863.418" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Gnostice.XtremeImageEngine" publicKeyToken="67e9a3a7c22f1690" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.1546.117" newVersion="12.0.1546.117" />
			</dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExchangeNovelcoSoapBinding" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ExchangeNovelcoSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://nvl016.corp.local:9500/Accounting/ws/ExchangeNovelco" binding="basicHttpBinding" bindingConfiguration="ExchangeNovelcoSoapBinding" contract="Novelco.ExchangeNovelcoPortType" name="ExchangeNovelcoSoap" />
      <endpoint address="http://nvl016.corp.local:9500/Accounting/ws/ExchangeNovelco" binding="customBinding" bindingConfiguration="ExchangeNovelcoSoap12Binding" contract="Novelco.ExchangeNovelcoPortType" name="ExchangeNovelcoSoap12" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: {0F325193-B00B-4FB7-B8C2-2251EE9FA84C}-->