
<div class="modal" id="documentDeliveryNumberEditModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" data-bind="with: DocumentDeliveryNumberEditModal">
		<div class="modal-content" data-bind="if: CurrentItem">
			<div class="modal-header">
				<button type="button" class="close" data-bind="click: Close"><span>&times;</span></button>
				<h4 class="modal-title">Информация о доставке</h4>
			</div>
			<div class="modal-body">
				<div class="form-horizontal container-fluid">					
					<div class="row form-group">
						<div class="col-md-4 form-text text-right">Номер накладной</div>
						<div class="col-md-8"><input class="form-control" data-bind="textInput: CurrentItem().ReceivedNumber" /></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bind="click: Done">Готово</button>
			</div>
		</div>
	</div>
</div>
